body {
  background: url("https://iili.io/Xb1vcv.png") no-repeat center center fixed;
  background-size: cover;
  /* min-height: 100vh;
    min-width: 100vw; */
  font-family: 'Lato';
}

.lupaSandi {
  height: 500px;
  background-color: #125d1b;
  border-radius: 40px;
  color: white;
}

form>div>input {
  width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 8px 10px;
  margin-top: 10px;
  border: none;
}

form .btn {
  width: 100%;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #adeea1;
  margin-top: 10px;
}

hr {
  border: 1px solid #032c17;
}

.lupaSandi p {
  font-size: 13px;
  text-align: center;
}

.lupaSandi p span {
  opacity: 0.5;
}

.lupaSandi p a {
  color: white;
  text-decoration: none;
}

.lupaSandi p a:hover {
  color: white;
  text-decoration: none;
}