/* Default Home Styling */
body {
  font-family: 'Lato', sans-serif;
}

.btn {
  border: none;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-top: 10px;
  margin-left: 25px;
  transition-duration: 0.4s;
  cursor: pointer;
}

/* Navbar styling */
nav {
  border-bottom: 2px solid grey;
}

.nav-item a {
  color: #09421a;
}

.nav-item a:hover {
  color: #09421a;
}

.btn-masuk {
  background-color: #09421a;
  color: white;
}

.btn-masuk:hover {
  background-color: #09421a;
  color: white;
}

/* Hero Styling */
div .button-hero {
  height: 60px;
  width: 100%;
  background-color: #f0e4ab;
  border-radius: 15px;
}

div .button-hero .btnHero {
  background-color: #032c17;
  color: white;
  border-radius: 8px;
  font-size: 18px;
}

/* info sectio styling */
#info {
  height: 450px;
}

.containerInfo {
  background-color: #fffcd9;
  height: 400px;
  border-radius: 20px;
}

/* perlombaan section styling */
#perlombaan {
  height: 400px;
  background-color: #fffcd9;
}

.btnLomba {
  background-color: #f8f9fa;
  margin: 0;
  border: 1px solid #715c20;
  border-radius: 8px;
  color: #715c20;
}

.cardInfo {
  border-radius: 12px;
  background-color: #f0e4ab;
  border: none;
}

.card-body ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #495057;
}

.card-body ul li a {
  text-decoration: none;
  color: #495057;
}

/* .carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: url(./assets/icon/arrowNext.svg);
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: url(./assets/icon/arrowPrev.svg);
  font-size: 55px;
  color: red;
} */

/* Lainnya Section Styling */
#lainnya {
  height: 400px;
}

/* Artikel Section Styling */
#artikel {
  height: 550px;
}

.cardArtikel {
  background-color: #125d1b;
  border-radius: 15px;
}

.card-body > h6 {
  color: #ced4da;
  font-size: 12px;
  opacity: 0.8;
}

.card-body > h4 {
  color: white;
}

.card-body > a {
  color: #ced4da;
  font-size: 14px;
  opacity: 0.8;
  text-decoration: none;
}

/* Partner Section Styling */
#partner {
  height: 450px;
  background-color: #125d1b;
}
